.left-grid{
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: middle;
  height: 100%;
}
.right-grid{
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: middle;
  height: 50%;
  padding-right: 20px;
}
.col-md-6{
  margin:0px;
  padding:0px
}
.col-md-4{
  margin:0px;
  padding:0px;
}